// Specific CSS for your home-page
.text-truncate-container {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--read-more-line-clamp, 2);
}

h1, h2, h3, .kaamelott {
  font-family: "Folkard";
  color: white;
}

p, h5 {
  font-family: "Montserrat";
  color: white;
}

.card-body p {
  font-size: 0.9em;
  color: white;
}

body {
  background-color: rgb(255, 255, 255);
}

.img-card-type {
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.img-card-type:hover {
  filter: none;
}

.card-type {
  background-color: #1b1f23;
}

.card1 {
  animation: fadeIn 1s ease forwards;
  opacity: 0;
}

.card2 {
  animation: fadeIn 1s ease forwards 0.2s;
  opacity: 0;
}

.card3 {
  animation: fadeIn 1s ease forwards 0.4s;
  opacity: 0;
}

.card4 {
  animation: fadeIn 1s ease forwards 0.6s;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-type:hover {
  @extend .shadow-sm;
  transform: scale(1.01);
  background-color: #21272c;
}

#query {
  padding: 10px;
  border: 1px solid #727272;
  border-radius: 50px;
  width: 300px;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  background: transparent;
}

#query:focus {
  outline: none;
  border:1px solid #21272c;
  box-shadow: 0 0 5px #5e5e5e;
  transition: 0.3s ease;
}

.search-container {
  position: relative;
}

.search-input {
  padding-right: 20px;
}

.cursor {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 2px;
  height: 50%;
  background-color: grey;
  animation: blink 1.3s infinite;
}

.search-input:focus + .cursor {
  display: none;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.lire {
  cursor: pointer;
}

.text-center {
  font-family: 'Folkard';
  color: white;
}
