// Specific CSS for your home-page
.text-truncate-container {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--read-more-line-clamp, 2);
}

h1, h2, h3, .kaamelott {
  font-family: "Folkard";
  color: white;
}

p, h5 {
  font-family: "Montserrat";
  color: white;
}

.card-body p {
  font-size: 0.9em;
  color: white;
}

body {
  background-color: rgb(255, 255, 255);
}

.img-card-type {
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.img-card-type:hover {
  filter: none;
}

.card-type {
  transition: transform 0.3s ease;
  background-color: #1b1f23;
}

.card-type:hover {
  @extend .shadow-sm;
  transform: scale(1.01);
  background-color: #21272c;
}

#query {
  padding: 10px;
  border: 1px solid #727272;
  border-radius: 50px;
  width: 300px;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  background: transparent;
}

#query:focus {
  outline: none;
  border:1px solid #21272c;
  box-shadow: 0 0 5px #5e5e5e;
  transition: 0.3s ease;
}
