// Specific CSS for your home-page
@font-face {
  font-family: "Folkard";
  src: url("app/assets/fonts/folkard_.ttf");
}

.text-truncate-container {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--read-more-line-clamp, 2);
}

h1, h4, .kaamelott {
  font-family: "Folkard";
  color: white;
}

p, h5 {
  font-family: "Montserrat";
  color: white;
}

.card-body p {
  font-size: 0.7em;
  color: white;
}

body {
  background-color: rgb(255, 255, 255);
}

.img-card-type {
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.img-card-type:hover {
  filter: none;
}

.card-type {
  transition: transform 0.3s ease;
  background-color: #1b1f23;
}

.card-type:hover {
  @extend .shadow-sm;
  transform: scale(1.01);
  background-color: #21272c;
}
