<footer>
  <div class="container-fluid p-0" style="height:120px;background:#1b1f23">
    <div class="row h-100 m-0">
      <div class="d-flex justify-content-around text-align-center p-0 mt-2">
        <div class="m-3 d-flex flex-column justify-content-center align-items-start">
          <a href="#top">
            <p class="m-0 text-start" style="font-size:0.9em"><u>Retour en haut ↑</u></p>
          </a>
        </div>
        <div class="m-3 d-flex flex-column justify-content-center align-items-center">
          <h3 class="mt-3"><strong>Kamerotto</strong></h3>
        </div>
        <div class="m-3 d-flex flex-column justify-content-center align-items-center">
          <p class="m-0" style="font-size:0.9em">Kaamelott© - All right reserved.</p>
          <p class="m-0" style="font-size:0.9em">1 montée des Carmélites - 69004</p>
          <p class="m-0" style="font-size:0.9em">07 57 90 10 75</p>
        </div>
      </div>
    </div>
  </div>
</footer>
