<div class="container">

  <h1>Mes locations</h1>
  <ul>
    <% @rentals.each do |rental|%>
    <li>
      <%= rental.character.name%>
      <br>
      <p>Pour la période du  <%= l(rental.start_date, format: "%d %B %Y") %>, au  <%= rental.end_date %></p>
    </li>
    <% end %>
  </ul>

  <%= link_to "Retour à l'accueil", root_path%>
</div>
