<div class="container d-flex flex-column justify-content-center align-items-center" data-controller="search-bar">
  <h1 class="mt-5">Bienvenue sur <strong>Kamerotto</strong> !</h1>
  <h5 class="mb-5">Salutation ô noble villageois.</h5>


  <%= form_with(url: characters_path, method: :get, class:"mb-5 d-flex justify-content-center", data: { search_bar_target: "form" }) do %>
  <%= text_field_tag :query,
                     params[:query],
                     placeholder: "Recherchez vos personnages",
                     data: {
                      action: "keyup->search-bar#send",
                      search_bar_target: "input"
                    } %>
  <% end %>
  <div data-search-bar-target="results">
<%= render "characters/index", characters: @characters %>
  </div>
</div>
