<h1>Characters#show</h1>
<p>Find me in app/views/characters/show.html.erb</p>

<h2><%= @charcater.name %></h2>
<p><%= @character.description %></p>
<p><%= @character.price %></p>
<p><%= @character.rating %></p>
