.navbar-lewagon {
  justify-content: space-between;
  background: #1b1f23;
  font-family: "Montserrat";
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.text-link-navbar {
  font-size: 1em;
  font-family: "Montserrat";
  color: white;
}

.title-p {
  font-size: 1.2em;
  color: white;
}
